<div class="wrapper">
                 <div id="pics"> 
                 <img src="/assets/food1.jpeg" /> 
                  <img src="/assets/food2.jpeg" /> 
                  <img src="/assets/food3.jpeg" /> 
                 </div>
                     <div class="ribbon-wrapper-green">
                     <div class="ribbon-green">NEW</div>
                     
                  
      </div>
      </div>

